.recent-refresh {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-weight: bolder;
  font-size: 3rem;
}

.recent-refresh button {
  font-size: 3rem;
}

table {
  border: 2px solid;
  width: 100%;
  font-size: 30px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

section {
  display: flex;
  font-weight: bolder;
  font-size: 3rem;
  gap: 5rem;
}

.submit{
      font-size: 3rem;
}

.input{
    padding-top: 25px;
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    border: 2px solid;
}

input[type=submit] {
    width: 45%;
    box-sizing: border-box;
    height: 2rem;
    border: 2px solid;

}


